* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  display: block;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 375px) and (max-width: 533px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 534px) {
  .container {
    width: 60%;
  }
}
.top-image-container {
  position: relative;
}
.text-over-image {
  position: absolute;
  bottom: 18rem;
  right: 25rem;
  color: white;
  font-size: 50px;
  font-weight: bold;
  display: block;
  margin: 4px;
}

.text-over-image span {
  display: block;
}
h1 {
  font-size: 20px;
  font-weight: 700;
}
.about-text {
  font-weight: 100;
}
.what-we-do {
  background-color: #33292a;
  color: white;
}
