body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 500px;
  padding: 40px;
  margin: auto;
  border: 2px solid;
  border-radius: 10px;
  position: relative;
  top: auto;
}
h1,
h3 {
  font-weight: bold;
  /* test barvy color: brown;*/
}
.novinka {
  background-color: red;
  color: white;
  position: absolute;
  right: -1rem;
  top: -1.8rem;
  padding: 5px;
}
.kolo-obrazek {
  max-width: 500px;
}

.informace-kolo {
  margin-left: -23px;
}
/*.tabulka-velikosti {
  border-collapse: separate;
}*/
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.color1 {
  width: 40px;
  height: 40px;
  background-color: rgb(33, 95, 217);
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}
.color2 {
  width: 40px;
  height: 40px;
  background-color: rgb(133, 49, 153);
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}
.color3 {
  width: 40px;
  height: 40px;
  background-color: rgb(123, 123, 123);
  border-radius: 50%;
  display: inline-block;
}

.nadpis-cena {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}
.cena {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}
.koupit {
  font-size: 25px;
  background-color: green;
  color: white;
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
