* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.top-image-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

@media (min-width: 768px) {
  .text-over-image {
    font-size: 90%;
  }
}

.text-over-image {
  position: absolute;
  color: #f2f2f2;
  font-size: 60px;
  font-weight: bold;
  right: 15%;
  bottom: 10%;
}

.image-start {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.text-over-image {
  margin: 20px 10px;
  padding: 10px 20px;
  /*border: 2px solid blue;
    border-radius: 5px;*/
}

span {
  margin: 20px 10px;
  padding: 10px 20px;
}

.about-us-container {
  margin: 60px 35px;
  padding-top: 30px;
  line-height: 1.5;
}

.about-us-text {
  width: 100%;
  height: auto;
}

.about-us-container img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  margin-top: 20px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .about-us-container {
    display: flex;
    padding: 80px 100px;
    margin: 0 auto;
    max-width: 992px;
    justify-content: space-evenly;
  }

  .about-us-text {
    flex-basis: calc(100% / 2 - 35px);
  }

  .about-us-header {
    font-size: 2em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .about-us-image {
    flex-basis: calc(100% / 2 - 35px);
  }

  .about-us-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 0px;
    object-fit: cover;
  }
}
.what-we-do-main {
  background-color: #33292a;
  color: #f2f2f2;
  padding: 70px 35px;
  text-align: center;
  line-height: 1.5;
}

.what-we-do-header {
  font-size: 2em;
}

.what-we-do img {
  width: 80px;
  height: auto;
}

.what-we-do-icons {
  padding-top: 30px;
}
.what-we-do-icons img {
  filter: invert(100%);
  padding-top: 30px;
}

.what-we-do-icons h2 {
  font-size: 2em;
}
@media (min-width: 768px) {
  .what-we-do-container {
    display: flex;
    max-width: 992px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }

  .what-we-do-icons {
    display: flex;
    justify-content: space-around;
  }
}

.what-we-do-icons img {
  width: 5em;
}

.gallery-container {
  margin: 5em 10em;
}

.gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;
}

.gallery span {
  display: block;
  background-color: antiquewhite;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2em;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 992px;
    gap: 5px;
  }

  .gallery img {
    width: 200px;
    height: 200px;
    flex-basis: calc(100% / 3 - 60px);
    margin-bottom: 0px;
  }

  .gallery span {
    width: 200px;
    min-width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0;
    flex-basis: calc(100% / 3 - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.where-do-you-main {
  background-color: #644b4f;
  color: #f2f2f2;
  padding: 70px 35px;
  text-align: center;
  line-height: 1.5;
}
.where-do-you-container {
  display: flex;
  flex-direction: column;
  background-color: #644b4f;
  color: #f2f2f2;
}
.where-do-you-header {
  display: block;
  font-size: 2em;
  flex-basis: 30%;
  margin: 0%;
}

.where-do-you-text {
  flex-basis: 70%;
  font-size: 0.8em;
}
span {
  padding: 0%;
  margin: 0%;
}
.contact-btn {
  margin: 30px auto;
  font-size: 1em;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .where-do-you-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 992px;
    justify-content: center;
  }
}

.reviews img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
